<html>

<head>
    <script type="text/javascript">
        function myLinkFor() {
            var newURL = document.getElementById("targetURL").value;
            window.location.href = "http://localhost:8080/" + newURL;
        }
    </script>
</head>

<body>
    准备就绪，输入信息以传送:<input type="text" id="targetURL" /><input type="button" name="myBtn" value="发送"
        onclick="javascript:myLinkFor()" />

    <h1>
        历史信息
    </h1>
    <p>
        第一条
    </p>
    <p>
        第二条
    </p>
    <p>
        第三条
    </p>
    <p>
        第四条
    </p>
    <p>
        第五条
    </p>

</body>

</html>